body { font-family: monospace; background-color: #ffffe0; }

.strong { color: black; font-weight: bold; background-color: yellow; }
.error { color: black; font-weight: bold; background-color: red; }
.command { color: black; font-weight: bold; font-size: 140%; background-color: teal; }

table { text-align: justified; }
.input_digit { font-size: 125%; width: 2em; height: 2em; }
h1 { font-weight: bold; font-size: 45px; }
.sudoko
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.grid
{
    width: 18%;
    background-color: teal;
}   
.sudokoform
{
    width: 21%;
    background-color: teal;
}   
.minigrid
{
    width: 6%;
    background-color: #f0f0f0;   
}
p {  margin-left: 5%; margin-right: 5%; }
#square { padding: 4px; border: 1px solid teal;}

a { text-decoration: none; font-weight: bold; color: black; }
a:hover { text-decoration: underline; } 
